@import "tailwindcss";

@theme {
  /* Defining custom colors for Tailwind v4 */
  --color-brand-bg: var(--bg-color);
  --color-brand-text: var(--text-color);
  --color-brand-orange: #ea580c;
}

:root {
  --bg-color: #FFFBF2;
  --text-color: #2D2424;
}

.dark {
  --bg-color: #121212;
  --text-color: #EAEAEA;
}

@layer base {
  body {
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}